html{font-size: 8px;}
*{
    font-family: "Bahnschrift";
}

body{
    margin:0;
}

div{
    background-color: #eaeaeada;
}

p{
    font-size: 1.7rem;
}

/*button styling*/
a{
    color: #000000;
    background-color: #01bdc6;
    padding: 1.5vh 2vw;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 0.4vw;
    border-radius: 15px;   
    font-size: 1.5em;  
}

header{
    height: 9vh;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    transition: 0.5s
}
#menu{
    margin:1vh 0 0 1vw;
    display: inline;
    width: 9vw;
    height: 8vw
}

#title{
    margin: 2vh 2vw;
    font-size: 2.5rem;
    display: inline;
    transition: 0.5s;
}

nav{
    margin-top: 4vh;
    margin-bottom: 10vh;
    transition: 0.5s;
    display:none;
}
.nav-button{
    margin: 0 1vw;
    transition: margin 0.5s, background-color 0.3s, border 0.1s;
    border: black solid 0px
}

h3{
    font-size: 2rem;
    text-decoration: underline;
}

/*Brief about section on home page*/
#about-brief{
    margin: 0;
    padding: 3vh 3vw 6vh;
    background-color: #EAEAEA;
}
#about-brief p{
    width: 65vw;
    height: 34vh;
}
#khaled{
    float: right;
    clear: left;
    width: 38vw;
    height: 38vw;
    border: #606060 solid 15px;
    border-top: none;
    border-left: none;
    margin-left: 4vw;

}

/*Brief section on protect mother nature on home page*/
#game-brief{
    margin: 0;
    padding: 3vh 3vw 6vh;
    background-color: #b2b2b2ce;
}
#game-brief p{
    width: 50vw;
    height: 34vh;
}
#demo-image{
    float:right;
    width: 56vw;
    height: 37vw;
    padding-top: 5vh;
    margin-left: 5vw;

}

/*extra button styling for read more buttons on homepage*/
.more{
    display: inline-block;
    padding: 1vh 1.5vw;
    transition: 0.3s;
    border: black solid 0px;
    font-size: 2rem;
    margin: 7vh 0 0 0;
}
.nav-button:hover,.more:hover{
    transform: scale(1.1);
    transform-origin: bottom;
    border: black solid 1.5px;
}

div h2{
    font-size: 4rem;
    padding: 7vh 0 5vh 0;
    margin:auto;
    text-align: center;
}

/*background images for the large social section on the homepage*/
#linkedin{background-image: url("../media/linkedin.png");}
#github{background-image: url("../media/github.jpg");}
#insta{background-image: url("../media/insta.png");}
#email{background-image: url("../media/email.png")}

/*styling for explore and social button divs on home page*/
#tabs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.tab{
    background-color: white;
    transition: 0.3s;
    background-size: 27vw 27vw;
    background-position: center;
    background-repeat: no-repeat;
    width: 45vw;
    height: 30vw;
    border: none;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
}
.tab:hover{
    filter: brightness(80%);
    transform: scale(1.05);
}


@media screen and (min-width: 768px)  {
    html{font-size: 16px;}
    header{
        justify-content: space-between;
        height: 12vh;
    }
    #menu{display: none;}
    #title{
        margin:2vh 3vw;
        display: inline;
        transition: 0.5s;
    }
    nav{display: inline;}
    
    a{font-size: 1.2rem}
    #khaled{
        width: 22vw;
        height: 22vw;
    }
    p{
        font-size: 1.2rem;
    }

    #about-brief p{
        width: 65vw;
        height: 20vh;
    }
    #game-brief p{
        width: 65vw;
        height: 20vh;
    }
    div h2{padding: 10vh 0 5vh 0;}
    #demo-image{
        width: 46vw;
        height: 25vw;
    }
    .tab{
        width: 25vw;
        height: 17vw;
        background-size: 15vw 15vw;
        font-size: 2rem;
    }
    .more{
        font-size: 1.2rem;
        margin: 5vh 0;
    }
    #tabs{flex-wrap: nowrap;}
}

/*
@media screen and (min-width: 1600px)  {
    #khaled{
        width: 20vw;
        height: 45vh;
    }
}*/