#title{
    font-family: "Bahnschrift";
    display: inline;
}

header{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: sticky;
}
header h1{
    font-size: 2rem;
}

nav{
    margin-top: 4vh;
    margin-bottom: 10vh;

}
nav a{
    background-color: #01bdc6;
    font-family: "Bahnschrift";
    margin-right: 3vw;
    margin-left: 3vw;
    padding: 1.5vh 2vw;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 0.4vw;
    border-radius: 15px;   
    font-size: 1.2em;  
}